*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-mario{
    height: 200px;
    

}


button{
    color: white;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;

}



.imgem-mario-luidgi{
    height: 500px;
}

body{
   
    height: 100vh;
   
   
}


.caixa-principal{
    width: 40%;

}

.caixa-video{
    position: fixed;
    top: 0;
    z-index: -1;
}

video{
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}
   
.caixa-mae{
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    display: flex;

}

.mascara{

    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;

}

p{
    color: azure;
}

.link-whatsapp img{
    height: 70px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.header{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;

}

.header img{
    height: 60px;
    
}
.header img:hover{
    height: 110px;
}

.header a{
    color: azure;
    font-size: 24px;
    cursor: pointer;
}


.header a:hover {
    color: #c51111;
    font-size: 26px;
    transition: 0.5s ease-in-out;


}

.fomulario-fale-conosco{
    background-color: azure;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40%;
    left: -275px;
    padding: 20px;
    border-radius: 7px;
    gap: 20px;
    transition: left 1s ease-in-out;

}

input{
    height: 40px;
    border-radius: 5px;
    border: 2px;
    padding-left: 5px;
    outline-color: #18d80f;

}

textarea{
    height: 100px;
    width: 270px;
    border-radius: 5px;
    border: 2px;
    padding-left: 5px;
    outline-color: #18d80f;

}

.mascara-formulario{
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    
}

@media(max-width: 1100px){
   p{
    display: none;

   }
   .caixa-mae{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
   }

   .caixa-principal {
    display: flex;
    align-items: center;
    flex-direction: column;
   }
   .imgem-mario-luidgi {
    width: 80vw;
    height: auto;
   }
   .header {
    margin: 40px;
    display: flex;
    align-items: center;
    position: center;
    justify-content: center;
    
    
   }
   .header img {
    display: none;
    
   }

   .header a {
    font-size: 20px;
    display: flex;
    position: center;
    align-items: center;
    justify-content: center;
   }
  
}